.items {
  display: grid;
  gap: 12px;
}

.wrapper {
  background: var(--grey);
  box-shadow: 0px 21px 65px 0px #0204140D;
  border: 0.5px solid var(--black5);
  border-radius: 30px;
  padding: 30px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 4px;
}

.about {
  &:hover {

  }
}

.title {
  margin-bottom: 4px;
}

.company {
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;
}

.list {
  display: grid;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 128%;
  text-transform: lowercase;
  margin-bottom: 16px;

  li {
    padding-left: 18px;
    position: relative;
    color: var(--black);

    &::after {
      content: '';
      background: radial-gradient(50% 50% at 50% 50%, #58C9FB 0%, #F5F5F5 100%);
      height: 10px;
      width: 10px;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }

  a {
    color: var(--);
    display: block;
    width: max-content;
  }
}

.name {
  text-transform: lowercase;
  font-size: 24px;
  font-weight: 500;
}

.info {
  padding: 4px 8px;
  opacity: 1;
  font-size: 18px;
  line-height: 120%;
  font-weight: 500;
  background: var(--white);
  color: #14161580;
  gap: 10px;
  border-radius: 10px;
}

b {
  color: var(--accent);
}

.tags {
  display: flex;
  gap: 4px;
}

.tag {
  border: 0.5px solid var(--black10);
  background: var(--white);
  border-radius: 12px;
  font-weight: 500;
  color: var(--black);
  padding: 6.5px 12px;
  text-transform: lowercase;
}