.info {
  display: grid;
  gap: 2px;
}

.initials {
  text-transform: lowercase;
}

.avatar {
  border-radius: 24px;
  width: 72px;
  height: 72px;
  object-fit: cover;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
}