.switcher {
  padding: 6px;
  border-radius: 20px;
  background: var(--grey);
  border: 0.5px solid var(--black10);
  box-shadow: 0px 0px 4px 0px #FFFFFF40 inset;
  display: flex;
  align-items: center;
  height: max-content;
  z-index: 10;
}

.switcherButton {
  height: 48px;
  max-width: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  background: transparent;
  outline: none;
  border: none;

  &.active {
    background: var(--white);
    border: 0.5px solid #1416151A;
    box-shadow: 0px 3px 6px 0px #1416150F;
  }
}

