.list-dotted {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  color: var(--black50);
  font-size: 20px;
  gap: 16px;
  & li:not(:last-child) {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: -9px;
      top: calc(50% - 1px);
      width: 2px;
      height: 2px;
      background: var(--black50);
    }
  }
}