:root {
  --header-height: 112px;
  --bg: #EDEDED;
  --black: #141615;
  --black50: rgba(20, 22, 21, .5);
  --black30: rgba(20, 22, 21, .3);
  --black10: rgba(20, 22, 21, .1);
  --black5: rgba(20, 22, 21, .05);
  --grey: #F5F5F5;
  --accent: #58C7F9;
  --white: #FFFFFF;
}