.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 30px;
  border: 0.5px solid #1416151A;
  box-shadow: 0px 17px 25px 0px #0204140D,
  0px 0px 4px 0px #FFFFFF40 inset;
  background: #f5f5f5;
  width: max-content;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  padding: 12px 24px;
  text-transform: lowercase;
}

.accent {
  background: var(--accent);
  color: var(--white);
  text-shadow: 0px 1px 2px #0225351A;
  border-radius: 22px;
  box-shadow: 0px 0px 20px 0px #B7E9FF inset,
  0px 0px 20px 0px #B7E9FF inset,
  0px 0px 5px 0px #B7E9FF inset,
  0px 2px 3px 0px #030E1F12,
  0px 4px 8px 0px #60CBFB1A;
}