.header {
  max-height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: var(--black10)

}

.wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 40px;
  width: calc(100vw - 80px);
}