.span {
  font-size: 50px;
  color: var(--black30);
  margin: 0 auto 20px;
  text-transform: lowercase;
}

.title {
  font-size: 100px;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -1%;
  text-align: center;
  text-transform: lowercase;
}

.accent {
  color: var(--accent);
}

.content {
  display: grid;
  align-items: center;
  justify-content: center;
}