@import "styles/variables.scss";
@import "styles/fonts.scss";
@import "styles/global.scss";

.app {
    background: var(--bg);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Onest", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    box-sizing: border-box;
    line-height: 1.2;
    background: var(--bg);
}

button {
    font-family: "Onest", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    line-height: 1.2;
}

.container {
    max-width: 1224px;
    padding: 0 20px;
    display: grid;
    margin: 0 auto;
}

.main {
    padding-top: 112px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

