@import "styles/variables.scss";
@import "styles/fonts.scss";
@import "styles/global.scss";
@import "react-tooltip/dist/react-tooltip.css";

.app {
    background: var(--bg);
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Onest", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    box-sizing: border-box;
    line-height: 1.2;
    background: var(--bg);
}

button {
    font-family: "Onest", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    line-height: 1.2;
}

.container {
    max-width: 1224px;
    padding: 0 20px;
    display: grid;
    margin: 0 auto;
}

.main {
    padding-top: 112px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.progressive-blur-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-event: none;
}

.progressive-blur-container > .blur-filter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.progressive-blur-container > .blur-filter:nth-child(6) {
    backdrop-filter: blur(25px);
    mask: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 40%);
}

.progressive-blur-container > .blur-filter:nth-child(5) {
    backdrop-filter: blur(20px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 50%);
}

.progressive-blur-container > .blur-filter:nth-child(4) {
    backdrop-filter: blur(16px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 60%);
}

.progressive-blur-container > .blur-filter:nth-child(3) {
    backdrop-filter: blur(8px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
}

.progressive-blur-container > .blur-filter:nth-child(2) {
    backdrop-filter: blur(4px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 90%);
}

.progressive-blur-container > .blur-filter:nth-child(1) {
    backdrop-filter: blur(2px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
}

.progressive-blur-container > .blur-filter:nth-child(7) {
    z-index: 10;
    background-filter: blur(64px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%)
}

.progressive-blur-container > .gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, #ffffff);
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}

